<!DOCTYPE html>

<head>
    <title>Creation Client</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script type="module" src="creationClient.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">

</head>

<body>
    <form method="post" id="addCustomersForm" onsubmit="return false">
        <div class="form-row">
            <div class="form-group col-md-7">
                <label for="first">Prénom</label>
                <input type="text" class="form-control" id="first" placeholder="Prénom">
            </div>
            <div class="form-group col-md-7">
                <label for="last">Nom</label>
                <input type="text" class="form-control" id="last" placeholder="Nom">
            </div>
            <div class="form-group col-md-7">
                <label for="inputSociete">Société</label>
                <input type="text" class="form-control" id="company" placeholder="Société">
            </div>

            <div class="form-group col-md-7">
                <label for="country">Country</label>
                <input type="text" class="form-control" id="country" placeholder="France">
            </div>
            <div class="form-group col-md-7">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="azertyuiop@mail.com">
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Enregistrer Le Nouveau
                Client</button>
        <!-- bouton de retour a la liste des clients -->
        <a href="http://localhost:3000/liste/list.html" class="btn btn-primary btn-dark">Retour à la liste des clients</a>
    </form>

    <div id='alert-message' role='alert'></div>
</body>