<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Website</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="login.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">

  </head>
  <body class="d-flex justify-content-center align-items-center vh-100">
    <div class="header">
        <h1>Connexion</h1>
    </div>
    <main class="text-center">
        <form style="width: 300px;" action="http://localhost:3001/login" method="POST">
            <div class="form-group">
                <label for="InputPseudo">Pseudo</label>
                <input name="pseudo" class="form-control" id="InputPseudo" aria-describedby="emailHelp" placeholder="Entrez votre pseudo">
            </div>
            <div class="form-group">
                <label for="InputPassword">Mot de passe</label>
                <input type="password" name="password" class="form-control" id="InputPassword" placeholder="Mot de passe">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </main>
</body>
</html>

