<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Vérificateur de Sécurité de Mot de Passe</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined">
</head>

<body>
    <div class="header">
        <h1>Vérifiez la sécurité de votre mot de passe</h1>
    </div>

    <div class="input-container">
        <input type="password" id="password" class="password-input" placeholder="Entrez votre mot de passe">
        <span onclick="changePasswordVisibility()" class="material-icons-outlined password-icon">visibility_off</span>

    </div>

    <div class="button-container">
        <button onclick="verifierMotDePasse()" class="btn">Vérifier</button>
    </div>

    <div id="password-strength"></div>

    <div id="resultat"></div>

    <script src="script.js"></script>
</body>
</html>
