<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Liste des mots de passe</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
  <div id='alert-message' role='alert'></div>
  <table class="table">
    <thead class="thead-dark">
      <!-- <tr>
        <th scope="col">#</th>
        <th scope="col">Email</th>
        <th scope="col">Mot de passe</th>
        <th scope="col">Création</th>
        <th scope="col">Actions</th>
      </tr> -->
    </thead>
    <tbody id="customersList">
    </tbody>
  </table>



  <a href="../creation/creationClient.html" style="color: white;"> <button type="button" class="btn btn-success"> Ajouter un mot de passe</button></a>
  <a href="../modification/modificationClient.html" style="color: white;"> <button type="button" class="btn btn-warning"> Modifier un mot de passe</button></a>
  <a href="../suppression/suppressionClient.html" style="color: white;"> <button type="button" class="btn btn-danger"> Supprimer un mot de passe</button></a>

  <script type="text/javascript" src="list.js"></script>
</body>
</html>
