<!-- header.html -->
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">
        <h1 class="logo"><a href="../index.html">Keep Pass</a></h1>
        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto" href="../index.html">Accueil</a></li>
                <li><a class="nav-link scrollto" href="../generateur/generateur.html">Générer un mot de passe</a></li>
                <li><a class="nav-link scrollto" href="../comparateur/comparateur.html">Tester un mot de passe</a></li>
                <li><a class="nav-link scrollto" href="../liste/list.html">Consulter vos mots de passe</a></li>
                <li id="connexionButton"><a class="getstarted scrollto" href="../login/login.html">Connexion</a></li>
                <li id="pseudoSession" style="display: none; font-size:15px;font-weight:bolder; color:white; padding-right: 0"></li>
                <li id="deconnexionButton" style="display: none; padding-left : 0;"><a class="getstarted scrollto" href="#">Déconnexion</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
    </div>
</header>
