<!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center justify-content-between">
            <h1 class="logo"><a href="../index.html">Keep Pass</a></h1>
            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto" href="../index.html">Accueil</a></li>
                    <li><a class="nav-link scrollto" href="../generateur/generateur.html">Générer un mot de passe
                            fort</a></li>
                    <li><a class="nav-link scrollto" href="../comparateur/comparateur.html">Tester la force d'un mot de
                            passe</a></li>
                    <li><a class="nav-link scrollto" href="../liste/list.html">Consulter les mots de passe
                            enregistrés</a></li>
                    <li><a class="getstarted scrollto" href="../login/login.html">Connexion</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->
        </div>
    </header><!-- End Header -->