<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil - KeepPass</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <header class="header">
        <h1>KeepPass</h1>
        <h2>Stockez vos mots de passe en toute sécurité</h2>
    </header>
    
    <div class="main-nav">
        <a href="../generateur/generateur.html" class="btn">Générateur de Mots de Passe</a>
        <a href="../comparateur/comparateur.html" class="btn">Comparateur de Mots de Passe</a>
        <a href="" class="btn">Mes Mots de Passe</a>
    </div>

    <footer class="footer">
        <p>&copy; 2024 KeepPass. Tous droits réservés.</p>
    </footer>
</body>
</html>
